@import "./main.css";

ul
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

ul li
{
    width: 100%;
    margin-top: 10px;
}

.request-total-price
{
    background-color: #eee;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
}

.request-controls
{
    display: flex;
    margin-top: 10px;
}

.request-controls button
{
    flex: 1;
    margin: 0px 5px;
}
