.box
{
    border-radius: 10px;
    box-shadow: 1px 1px 5px #aaa;
}

span 
{
    pointer-events: none;
}

h1
{
    text-align: center;
    text-transform: uppercase;
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
    background: #eee;
}
::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 10px;
}

ul
{
    list-style: none;
    padding: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}